* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

h2 {
    font-size: 2.25rem;
    text-align: start;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

.subtitle {
    font-size: 4rem;
    text-transform: uppercase;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.intro > article {
    background-color: rgb(146, 127, 255);
    border: 1px solid red;
    flex: 1;
}

.intro > article > h3 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.3rem;
}
