@import url("./fonts.css");

:root {
    /* Avenir next pro*/
    font-family: "Avenir Next", sans-serif;
    font-size: 12px;
    --theme-light-bgColor: #fcfbf3;
    --theme-light-color: #361f1f;
    --theme-dark-bgColor: #2f2736;
    --theme-dark-color: #edeaeb;
}
