/* ======= 300 ======= */
@font-face {
    font-family: "Avenir Next";
    src: url("./fonts/AvenirNext-Medium.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Avenir Next";
    src: url("./fonts/AvenirNext-DemiIt.woff") format("woff");
    font-weight: 300;
    font-style: italic;
}
/* ======= 400 ======= */
@font-face {
    font-family: "Avenir Next";
    src: url("./fonts/AvenirNext-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Avenir Next";
    src: url("./fonts/AvenirNext-RegularIt.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}
/* ======= 600 ======= */
@font-face {
    font-family: "Avenir Next";
    src: url("./fonts/AvenirNext-Demi.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Avenir Next";
    src: url("./fonts/AvenirNext-DemiIt.woff") format("woff");
    font-weight: 600;
    font-style: italic;
}
/* ======= 700 ======= */
@font-face {
    font-family: "Avenir Next";
    src: url("./fonts/AvenirNext-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Avenir Next";
    src: url("./fonts/AvenirNext-BoldIt.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}
/* ======= 800 ======= */
@font-face {
    font-family: "Avenir Next";
    src: url("./fonts/AvenirNext-Heavy.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Avenir Next";
    src: url("./fonts/AvenirNext-HeavyIt.woff") format("woff");
    font-weight: 800;
    font-style: italic;
}

:root {
    /* Avenir next pro*/
    font-family: "Avenir Next", sans-serif;
    font-size: 12px;
    --theme-light-bgColor: #fcfbf3;
    --theme-light-color: #361f1f;
    --theme-dark-bgColor: #2f2736;
    --theme-dark-color: #edeaeb;
}
